In [20]:
add = pd.read_csv('./addition.csv', header=None)
date = pd.read_csv('./date.csv', header=None)
add[1] = 0
date[1] = 1

In [22]:
df = pd.concat([add, date], axis=0)
df.to_csv('./classify.csv', header=None, index=False, encoding='utf-8')

In [23]:
df

                                                       0  1
0                                              1 6 + 7 5  0
1                                            5 2 + 6 0 7  0
2                                              7 5 + 2 2  0
3                                              6 3 + 2 2  0
4                                              7 9 5 + 3  0
...                                                  ... ..
49995                          m a r c h / 1 6 / 2 0 1 0  1
49996                              j u l / 2 1 / 1 9 8 4  1
49997                                    1 0 / 2 5 / 7 9  1
49998    s u n d a y / s e p t e m b e r / 1 6 / 1 9 8 4  1
49999  t h u r s d a y / n o v e m b e r / 2 0 / 1 9 8 0  1

[100000 rows x 2 columns]